---
layout: default
---

<header class="u-container u-section">
    <h1 class="p-name">Homebrew Website Club Birmingham</h1>
</header>

<div class="u-container u-section p-description">
  <p><b>Next meetup:</b>
    {% for event in site.events limit:1 %}
      <br>
      {{ event.date | date: "%A" }}
      {% assign d = event.date | date: "%-d"  %}
      {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st
      {% when '2' or '22' %}{{ d }}nd
      {% when '3' or '23' %}{{ d }}rd
      {% else %}{{ d }}th
      {% endcase %}
      {{ event.date | date: "%B" }}
      <br>
      {{ event.venue_info }}
    {% endfor %}

  <p>Join like-minded people each month in Birmingham to exchange ideas, talk shop and get some feedback for that side project you've been working on.</p>

  <h2>What is Homebrew Website Club?</h2>
  <p><a href="https://indieweb.org/Homebrew_Website_Club">Homebrew Website Club</a> meetups take place <a href="https://indieweb.org/IRC">online</a> and <a href="https://indieweb.org/Homebrew_Website_Club#Meetings">around the world</a> every other Wednesday. Passionate people gather to work on their own websites and discuss the future of publishing on the web in the same structure as the classic <a href="https://en.wikipedia.org/wiki/Homebrew_Computer_Club">Homebrew Computer Club</a> meetings.</p>
  <h2>When and where?</h2>
  <p>Birmingham’s Homebrew Website Club meets monthly on the first Wednesday of each month from <time datetime="2016-10-05 18:30" class="dt-start">6:30pm</time> until <time datetime="2016-10-05 21:00" class="dt-end">9:00pm</time>.</p>

  {% for event in site.events limit:1 %}
    <p><b>The next meetup is on
      {{ event.date | date: "%A" }}
      {% assign d = event.date | date: "%-d"  %}
      {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st
      {% when '2' or '22' %}{{ d }}nd
      {% when '3' or '23' %}{{ d }}rd
      {% else %}{{ d }}th
      {% endcase %}
      {{ event.date | date: "%B" }}
      at
      {{ event.venue_info }}
    </b></p>
  {% endfor %}

  <p>Feel free to join us from 6pm for some quiet working time beforehand. We’ll round each meetup off with a quick show and tell to share what you’ve learned and accomplished.</p>
  <p>There's free wifi and you'll have the opportunity to grab a drink and snack.</p>

  <h2>How to sign up</h2>
  <p>There is no need to sign up.</p>
  <p>Everyone is welcome, just turn up on the evening.</p>
  <p>We keep a little mailing list to let people know when the next meetup is. Feel free to add your email and we’ll pop you an email or two each month with information.</p>
</div>

<div class="u-well u-container u-container--lg u-section">
    <form action="https://tinyletter.com/homebrewbrum" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/homebrewbrum', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <h2>Interested? Sign up for more details</h2>
        <label for="tlemail">Enter your email address</label>
        <div class="u-flag">
            <input type="text" name="email" id="tlemail" placeholder="Your email address" />
            <button type="submit" class="button">Subscribe</button>
        </div>
        <input type="hidden" value="1" name="embed"/>
        <p class="micro">Of course, we won't share or spam your email</p>
    </form>
</div>

<div class="u-container u-section">
    <p>See you there,<br>
    - <a href="https://daveredfern.com/">Dave</a>, <a href="https://marcjenkins.co.uk/">Marc</a> &amp; <a href="https://paultibbetts.uk">Paul</a></p>
</div>

<div class="u-container u-section">
    <p>Calendar feed: <a href="https://homebrewbrum.co.uk/calendar.ics">iCal</a><br>
    You should also <a href="https://twitter.com/homebrewbrum">follow Homebrew Brum on twitter</a>.</p>
</div>
