---
layout: default
---

<header class="u-container u-section">
    <h1 class="p-name">Homebrew Website Club Birmingham</h1>
</header>

<div class="u-container u-section p-description">
  <p><b>Next meetup:</b>

    {% assign events = (site.events | sort: 'date') | reverse %}
    {% for event in events limit:1 %}
      <br>
      {{ event.date | date: "%A" }}
      {% assign d = event.date | date: "%-d"  %}
      {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st
      {% when '2' or '22' %}{{ d }}nd
      {% when '3' or '23' %}{{ d }}rd
      {% else %}{{ d }}th
      {% endcase %}
      {{ event.date | date: "%B" }}
      <br>
      {{ event.venue_info }}
    {% endfor %}

  <p>Join like-minded people each month in Birmingham to work on your own project, exchange ideas and talk shop. </p>

  <h2>What is Homebrew Website Club?</h2>
  <p><a href="https://indieweb.org/Homebrew_Website_Club">Homebrew Website Club</a> meetups take place <a href="https://indieweb.org/Homebrew_Website_Club#Meetings">around the world</a>. It’s a meetup of creatives passionate about improving their own websites, sharing successes &amp; challenges with a like-minded and supportive community.</p>
  <p>Much of the discussion is centered around the <a href="https://indieweb.org/Why">IndieWeb</a>, which is about owning our own online identities and data. Each month we’ll pick a different theme to focus on before opening up the conversation.</p>

  <h2>When and where?</h2>
  <p>Birmingham’s Homebrew Website Club meets monthly on the last Wednesday of each month from 6:00pm until 9:00pm.</p>

  {% for event in events limit:1 %}
    <p><b>The next meetup is on
      {{ event.date | date: "%A" }}
      {% assign d = event.date | date: "%-d"  %}
      {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st
      {% when '2' or '22' %}{{ d }}nd
      {% when '3' or '23' %}{{ d }}rd
      {% else %}{{ d }}th
      {% endcase %}
      {{ event.date | date: "%B" }}
      at
      {{ event.venue_info }}
    </b></p>
  {% endfor %}

  <p>This meetup is intentionally informal with no talks. We kick off at 6pm where you’ll get to hack on your website or project. From 7pm we’ll introduce ourselves and share what we’ve been working on. Each meetup has a theme, which we’ll discuss at 7:30pm. And then from 8:00pm, we’ll open up the discussion to whatever anyone wants to talk about.<p>
  <p>There's free wifi and you'll have the opportunity to grab a drink and snack.</p>  
  <p>We keep a little mailing list to let people know when the next meetup is. Feel free to add your email and we’ll pop you an email or two each month with information.</p>
</div>

<div class="u-well u-container u-container--lg u-section">
    <div id="mc_embed_signup">
        <form action="//homebrewbrum.us14.list-manage.com/subscribe/post?u=e591c0727a9299c6f9094e196&amp;id=88fd685552" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Subscribe to our mailing list</label>
                <div class="u-flag">
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e591c0727a9299c6f9094e196_88fd685552" tabindex="-1" value=""></div>
            </div>
            <p class="micro">Of course, we won't share or spam your email</p>
        </form>
    </div>
</div>

<div class="u-container u-section">
    <p>See you there,<br>
    - <a href="https://daveredfern.com/">Dave</a>, <a href="https://marcjenkins.co.uk/">Marc</a> &amp; <a href="https://paultibbetts.uk">Paul</a></p>
</div>

<div class="u-container u-section">
    <p>Calendar feed: <a href="https://homebrewbrum.co.uk/calendar.ics">iCal</a><br>
    You should also <a href="https://twitter.com/homebrewbrum">follow Homebrew Brum on twitter</a>.</p>
</div>
